@{
    ViewBag.Title = "Home Page";
}

<p>@Html.ActionLink("Restaurants","Index","Restaurants")</p>
<p>@Html.ActionLink("Hotels", "Index", "Hotels")</p>
<p>@Html.ActionLink("RentCars", "Index", "RentCars")</p>

